.footer{
	background: #0F0F0F;
	padding: 80px 0 50px;
	@media (max-width: 992px){
		padding-top: 40px;
	}
	.item{
		@media (max-width: 992px){
			padding-bottom: 30px;
		}
		h6{
			font-weight: 200;
			color: #FFFFFF;
			font-size: 25px;
			margin-bottom: 25px;
			letter-spacing: -1px;
			@media (max-width: 992px){
				margin-bottom: 10px;
			}
		}
		p,a{
			display: block;
			font-weight: 400;
			color: #969595;
			font-size: 14px;
			line-height: 1.25;
			letter-spacing: -0.5px;
		}
		a{
			position: relative;
			padding-left: 0px;
			padding-right: 10px;
			transition: .4s;
			&:before{
				content:"";
				background: #969595;
				width: 0;
				height: 1px;
				top: 50%;
				left: -10px;
				transition: .4s;
				position: absolute;
			}
			&:hover{
				padding-left: 10px;
				padding-right: 0;
				&:before{
					width: 10px;
					left: -5px;
				}
			}
		}
		.social{
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
		}
	}
	.links{
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		padding-top: 30px;
		padding-bottom: 100px;
		@media (max-width: 992px){
			padding-bottom: 30px;
			padding-top: 0px;
		}
		a{
			color: #FFFFFF;
			font-size: 16px;
			font-weight: 500;
			line-height: 1.25;
			letter-spacing: -1px;
			display: flex;
			gap: 10px;
			span{
				transition: .4s;
				&.icon{
					color: #E8A33B;
					transition-delay: .1s;
				}
			}
			&:hover{
				span{
					transform: translateX(5px);
					&.icon{
						transform: translateX(8px);
					}
				}
			}
		}
	}
	.copyright{
		@media (max-width: 992px){
			padding-bottom: 5px;
		}
		p{
			font-size: 14px;
			font-weight: 400;
			letter-spacing: -.5px;
			color: #969595;
			margin-bottom: 0;
			span{
				color: #fff;
			}
		}
	}
	.signature{
		display: flex;
		gap: 5px;
		a{
			font-size: 14px;
			font-weight: 400;
			letter-spacing: -.5px;
			color: #969595;
			span{
				color: #fff;
			}
		}
	}
	.footer-tabs-wrap{
		.nav-tabs{
			border-bottom: 0;
			justify-content: space-between;
			gap: 5px;
			padding: 0 5px;
			.nav-item{
				.nav-link{
					font-size: 15px;
					color: #FFFFFFD9;
					font-weight: 200;
					letter-spacing: -.5px;
					line-height: 1;
					padding: 15px 0px;
					border: none;
					background: transparent;
					position: relative;
					&:before{
						content:"";
						position: absolute;
						width: 0;
						height: 1px;
						background: #E8A33B;
						top: 100%;
						margin-top: -5px;
						left: 50%;
						transform: translateX(-50%);
						transition: .4s;
					}
					&.active{
						&:before{
							width: 20px;
						}
					}
				}
			}
		}
		.tab-content{
			padding: 20px 5px;
			.tab-pane{ }
		}
	}
}//footer