// Frontendlerin divilupır >> ibrahimmesutyilmaz.com
$portrait  : "only screen and (orientation : portrait)";
$landscape : "only screen and (orientation : landscape)";



/*******************/
/* fonts  begin    */
/*******************/


$fo      : "greycliff-cf", sans-serif;




/*******************/
/* ekran ayarları  */
/*******************/
//Media ölçüsü
$grid-breakpoints-xs:  0;
$grid-breakpoints-sm:  576px;
$grid-breakpoints-md:  768px; 
$grid-breakpoints-lg:  992px;
$grid-breakpoints-xl:  1200px;
$grid-breakpoints-xxl: 1250px;

//max-width ayarı
$container-max-widths-sm:  540px;
$container-max-widths-md:  720px;
$container-max-widths-lg:  960px;
$container-max-widths-xl:  1140px;
$container-max-widths-xxl: 1600px;
.container{ max-width: 100%; }
@media (min-width:576px){
    .container,
    .container-sm{max-width:100%}
}
@media (min-width:768px){
    .container,
    .container-md,
    .container-sm{max-width:100%}
}
@media (min-width:992px){
    .container,
    .container-lg,
    .container-md,
    .container-sm{max-width:100%}
}
@media (min-width:1200px){
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl{max-width:100%}
}
@media (min-width:1440px){
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl{max-width:1400px}
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    --bs-gutter-x: 20px;
}
.row{
    --bs-gutter-x: 20px;
}

//modal genişlik ayarı
$modal-sm-func: 300px !default;
$modal-md-func: 500px !default;
$modal-lg-func: 800px !default;
$modal-xl-func: 1140px !default;


//content padding ve -margin ayarı
$containerPadding : 20px !default; // sağ sol paddingin toplamını yazınız. 
$rowMargin        : -#{$containerPadding}; 

/*******************/
/* fonts  end      */
/*******************/

/*******************/
/* keyframes begin */
/*******************/

/*******************/
/* keyframes end   */
/*******************/


